/* -----------------------------------------Fonts */
body {
  font-family: "Lato", sans-serif;
  color: #003554;
}

h1, h2 {
  font-family: "Oswald", sans-serif;
  color: #003554;
  font-weight: bold;
}

/* -----------------------------------------Colours */

header {
  background-color: #c2eaff;
}

a {
  color: #003554;
}

footer {
  background-color: #003554;
  color: #fafafa;
}

.about-body {
  background-color: #c2eaff4d;
}

a:hover {
  text-decoration: none;
  color: #003554;
}

header a:hover,
footer a:hover {
  color:  #dd2cb1;
}

/* -----------------------------------------Header */
.navbar {
  padding: 0.5rem;
}

.active {
  border-bottom: 1px solid #003554;
}

.nav-link, .navbar-brand {
  padding: 0;
}

.navbar-brand {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 2rem;
}

.navbar-collapse {
  display: flex;
  justify-content:flex-end;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

/* -----------------------------------------Footer */
footer {
  text-align: center;
}

footer a {
  color: #fafafa;
}

footer p {
  padding:0;
}

.socials {
  padding-bottom: 1rem;
  font-size: 2rem;
}

.contacts {
  padding-top: 1rem;
}

/* -----------------------------------------Hero */

.hero-image {
  background-color: #85D6FF;
  background-image: url("../img/hero-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vh;
}

.my-jumbotron {
  text-align: center;
  height: 85vh;
  margin: 0;
}

.my-jumbotron-content {
  background-color: #fafafa4d;
  border-radius: 50px;
  padding: 1rem;
}

.my-jumbotron h1, p {
  padding: 1rem;
  font-weight: bold;
}

.my-jumbotron h1 {
  font-size: 60px;
}

.takeoff-button {
  color: #fafafa;
  background-color: #dd2cb1;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 15px;
}

/* -----------------------------------------About */

article {
  text-align: center;
}

.services {
  display: flex;
  justify-content: center;
  padding-top: 15vh;
  margin-bottom: 2rem;
}

.image-box {
  margin-top: 2rem;
  height: 40vh;
  width: auto;
}

.location {
  margin-top: 15vh;
}

iframe {
  border: none;
}

article a h2:hover {
  text-decoration: none;
  color: #dd2cb1;
}

.fa-globe {
  color: #dd2cb1;
}
